<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <!-- General tools. -->
      <package id="jre8" />
      <package id="googlechrome" />
      <package id="firefox" />
      <package id="7zip.install" />
      <package id="ccleaner" />
      <package id="vlc" />
      
      <!-- Development tools. -->
      <package id="filezilla" />
      <package id="putty" />
      <package id="virtualbox" />
      <package id="anaconda3" />
      <!-- <package id="python" /> -->
      <package id="eclipse" />
      <package id="sublimetext3" />
      <package id="visualstudiocode" />
      <package id="github" />

      <!-- Personal computing tools. -->
      <package id="steam" />
      <package id="battle.net" />
      <package id="spotify" />
      <package id="speccy" />
      <package id="discord" />
      <package id="transmission-qt" />
    </packages>